ul.topnav {
    list-style-type: none;
    margin: auto;
    padding:0;
    overflow: hidden;
    background-color: #b39617;
}
ul.topnav li{
    float: left;
}
h5{
    color:azure;
}
button {
    color: white;
}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
    background-color:rgb(139, 122, 20);
}
ul.topnav li a.active{
    background-color:chocolate;
}
ul.topnav li.right {
    float: right;
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}    
}
body {
    background-image: url('../images/Imagen34.jpg'); 
    background-size: cover;
}
.index1 { background-image: url('../images/Imagen37.jpg'); 
    background-size: cover;
}      
.index2 { background-image: url('../images/Imagen21.jpg'); 
background-size: cover;
}
.index3 { background-image: url('../images/Imagen36.jpg'); 
background-size: cover;
}
.index4 { background-image: url('../images/Imagen30.jpg'); 
background-size: cover;
}
.index5 { background-image: url('../images/Imagen31.jpg'); 
    background-size: cover;
}                      
@font-face {
    font-family: fuentenueva;
    src: url(Allison-Regular.ttf);
}
 
 .blanco{
    color:whitesmoke;
    text-align: center;
}
#demo {
    text-align: center;
    color: #b39617;
    -webkit-box-shadow: 5px 5px 50px 20px rgba(0,0,0,0.86); 
    box-shadow: 5px 5px 50px 20px rgba(0,0,0,0.86);
}
#textindex {
    text-align: right;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 0px 50px 50px rgba(0,0,0,0.37), inset 0px 0px 36px 27px rgba(122,118,28,0.68); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 0px 50px 50px rgba(0,0,0,0.37), inset 0px 0px 36px 27px rgba(122,118,28,0.68);
}

#form {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 0px 50px 50px rgba(0,0,0,0.37), inset 0px 0px 10px 4px rgba(0,0,0,0.31); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 0px 50px 50px rgba(0,0,0,0.37), inset 0px 0px 10px 4px rgba(0,0,0,0.31);
    background: #ECF2EB;
    }
    body#tinymce {
    background: #FFFFFF
    }
.golden{
    color: rgb(109, 8, 64);
}

div {
    justify-content: center;
}